<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RelativityScriptViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
    <applicationSettings>
        <RelativityScriptViewer.Properties.Settings>
            <setting name="MSSQLServer" serializeAs="String">
                <value />
            </setting>
            <setting name="MSSQLUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="MSSQLPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="RelativityWebServerURL" serializeAs="String">
                <value />
            </setting>
            <setting name="RelativityWebServerUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="RelativityWebServerPassword" serializeAs="String">
                <value />
            </setting>
        </RelativityScriptViewer.Properties.Settings>
    </applicationSettings>
</configuration>
